<!DOCTYPE html>
<html>
	<head>
		<title>Will I like this manga ?</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='app.css') }}">
		<script src="{{ url_for('static', filename='app.js') }}"></script>
	</head>
<body>
	<div class="home">
		<div class="home__landscape"></div>
		
		<div class="home__right">
			<h1 class="home--title">Will I like this anime ?</h1>
			<p class="home--p">Enter the information about your anime and we'll tell you if you'll like it via our machine learning model !</p>

			<div class="home__form">
				<div class="home__form__question home__form__question--show">
					<label for="title">1 - What is the title of your anime ?</label>
					<input
						class="home__form__question--input"
						type="text"
						id="title"
						name="title"
						placeholder="One Piece"
						required
					>
					<div class="home__form__question__buttons home__form__question__buttons--left">
						<button
							class="home__form__question__buttons--next"
							onclick="showNext(0)"
						>Next →</button>
					</div>
				</div>

				<div class="home__form__question">
					<label for="title">What is the genre of your anime ?</label>
					<div
						id="myListGenre"
						class="list-select"
					></div>
					<div class="home__form__question__buttons">
						<button
							class="home__form__question__buttons--prev"
							onclick="showPrevious(1)"
						>← Previous</button>
						<button
							class="home__form__question__buttons--next"
							onclick="showNext(1)"
						>Next →</button>
					</div>
				</div>
				
				<div class="home__form__question">
					<label for="title">What is the description of your anime ?</label>
					<textarea
						class="home__form__question--input"
						id="description"
						name="description"
						required
					></textarea>
					<div class="home__form__question__buttons">
						<button
							class="home__form__question__buttons--prev"
							onclick="showPrevious(2)"
						>← Previous</button>
						<button
							class="home__form__question__buttons--next"
							onclick="showNext(2)"
						>Next →</button>
					</div>
				</div>

				<div class="home__form__question">
					<label for="title">What is the type of your anime ?</label>
					<div
						id="myListType"
						class="list-select"
					></div>
					<div class="home__form__question__buttons">
						<button
							class="home__form__question__buttons--prev"
							onclick="showPrevious(3)"
						>← Previous</button>
						<button
							class="home__form__question__buttons--next"
							onclick="showNext(3)"
						>Next →</button>
					</div>
				</div>

				<div class="home__form__question">
					<label for="title">What is the producer of your anime ?</label>
					<div
						id="myListProducer"
						class="list-select"
					></div>
					<div class="home__form__question__buttons">
						<button
							class="home__form__question__buttons--prev"
							onclick="showPrevious(4)"
						>← Previous</button>
						<button
							class="home__form__question__buttons--next"
							onclick="showNext(4)"
						>Next →</button>
					</div>
				</div>

				<div class="home__form__question">
					<label for="title">What is the studio of your anime ?</label>
					<div
						id="myListStudio"
						class="list-select"
					></div>
					<div class="home__form__question__buttons">
						<button
							class="home__form__question__buttons--prev"
							onclick="showPrevious(5)"
						>← Previous</button>
						<button
							class="home__form__question__buttons--next"
							onclick="submitData(); showNext(5)"
						>Results -></button>
					</div>
				</div>

				<div class="home__form__question">
					<p class="home__result--p">
						We think you will like your anime at a score of
						<span
							id="result" 
							class="home__result--p--span"
						></span>
						.
					</p>
					<div class="home__form__question__buttons">
						<button
							class="home__form__question__buttons--next"
							onclick="showStart()"
						>Recommencer</button>
					</div>
				</div>
			</div>			
		</div>
	</div>
</body>
</html>